*, *::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100%;
    font-family: 'Roboto';
}

a{
    text-decoration: none;
    cursor: pointer;
    color:white;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

h1{
    padding: .5em 0;
}

#logo {
    width: 40px;
}

.container{
    width: 20rem;
    margin:0 auto;
    padding: 1em 0;
}

form > input{
    margin-bottom: 1em;
}

.btn {
    padding: 0.5em;
    background: none;
    border: 1px solid;
    box-shadow: rgba(0, 0, 0, .16) 0px 1px 4px 0px;
    border-radius: 1em;
    cursor: pointer;
    background-color: white;
    margin: 0.5em 0;
}

.btn-pos {
    border-color: #009688;
    color: #009688;
}

.btn-neg {
    border-color: #F44336;
    color: #F44336;
}

.btn-neu {
    border-color: #FFC107;
    color: #FFC107;
}

input[type="text"]{
    border: 0;
    border-bottom: 1px solid grey;
    outline: 0;
    padding: .7em 0 .3em 0;
    color: grey;
}

.alert{
    width: 400px;
    height: 50px;
}

.alert__box--ERROR{
    color: #F44336;
}

.alert__box--NOTICE{
    color: #009688;
}

.alert__box--WARNING{
    color: #FFC107;
}


@media screen and (min-width: 40rem){
    .container{
        width: 35rem;
    }
}


@media screen and (min-width: 55rem){
    .container{
        width: 50rem;
    }
}
