@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import './var.scss';
@import './scss/button.scss';
@import './scss/container.scss';

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    height: 2.5em;
}

.crucial__info{
    color: #BB2528;
}

input {
    color: inherit;
}

body, html{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shadow{
    box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, .16);
}

.nav__link{
    background-color: white;
    color: $red;
    padding: .3em 0;
    min-width: 4em;
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
}

a{
    text-decoration: none;
    cursor: pointer;
}
